*{
  padding: 0;
  margin: 0;
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: rgb(47, 111, 248);
  color: white;
}
nav ul li{
   padding: 20px;
}
nav ul li a{
   text-decoration: none;
}
.active{
  background-color: rgb(255, 2, 2);
}
.navCartItemCount{
  background-color: yellow;
  border-radius: 50%;
  padding: 5px 10px; 
}

h2{
  text-align: center;
  margin: 40px 0;
}
.form--wrap{
  text-align: center;
} 
.form--wrap span{
  color: red; 
} 
.form-control{ 
  padding: 7px;
  width: 250px;
}
.btn{
  padding: 7px;
  background-color: rgb(240, 72, 255);
}

.table{
  margin: 20px 100px;
  border: 1px solid black;
} 
.table tr td{ 
  padding: 10px 30px;
}
.product-wrap{ 
  margin: 20px 50px;
  display:flex;
  flex-wrap: wrap;
}
.product-wrap .product{
  width: 350px; 
  padding: 5px;
  border: 1px solid black;
}
.product-wrap .product .product-image{
  height: 200px; 
  width: 100%; 
}
.product-wrap .product .product-title h4{
  font-size: 20px; 
  margin: 10px auto;
  text-align: center;
}
.product-wrap .product .product-price{
  font-size: 20px; 
  margin: 10px auto;
  text-align: center;
}
.product-wrap .product .product-add-to-cart{
  font-size: 20px;  
  cursor: pointer;
  width: 100%;
  text-align: center;
  background-color: red;
  padding: 10px;
}
.product-wrap .product .product-remove-cart-item{
  font-size: 20px;  
  cursor: pointer;
  width: 100%;
  text-align: center;
  background-color: orange;
  padding: 10px;
}
.product-wrap .product .product-add-to-cart .count{
  font-size: 15px;  
  text-align: center;
  background-color: yellow;
  border-radius: 50%;
  padding: 5px 10px;
}